header {
    /* width: auto; */
    height: 100px;
   
    background-image: url(./img/pattern.png);
    background-position:center;
    background-size:40%;
    background-color: skyblue;
}

#logo {
    width: 250px;
    padding-top: 35px;
}

.scritto-da {
    color: grey;
    font-size: small;
}

#text-blue {
    color: skyblue;
}

.descrizioni-foto {
    font-size: small;
}

.yellow {
    background-color: yellow;
}

thead {

    background-color: skyblue;
    color: white;
}
.riga-colorata {
    background-color: rgb(208, 232, 242);
}

#monitor {

    background-image: url(img/monitor.jpg);
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    color: white;
    padding: 10px;
}

#grafico {

    background-image: url(img/graph.jpg);
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    color: white;
    padding: 10px;
}